.album-controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: grid !important;
  overflow: hidden;
  margin-top: 8px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-row-gap: 6px;
  grid-column-gap: 6px;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
}

.album-item__play-btn {
  position: relative;
  display: block;
  width: auto;
  padding: 0px 0px;
  background-color: #f7f7f7;
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
  -webkit-transition: all 300ms cubic-bezier(.39, .575, .565, 1);
  transition: all 300ms cubic-bezier(.39, .575, .565, 1);
}