body.body_search {
  background-color: #f9fafb;
  font-family: Poppins, sans-serif;
}

.home-main {
  width: 100%;
  min-height: 100vh;
  background-color: #f8fafc;
  position: relative;
  overflow: hidden;
}

.home-search__icon {
  justify-content: center;
  align-items: center;
  padding: 0 18px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.home-search__controls {
  z-index: 1;
  justify-content: flex-end;
  display: flex;
  position: relative;
}

.home-input {
  height: 56px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #fff;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-bottom: 0;
  padding-left: 52px;
  padding-right: 22px;
  transition: all .28s cubic-bezier(.39, .575, .565, 1);
  box-shadow: 0 0 38px 10px rgba(23, 28, 41, .04);
}

.home-input:hover {
  border-color: #e4e8ec;
  box-shadow: 0 0 32px 8px rgba(23, 28, 41, 0);
}

.home-input:focus {
  border-color: #3ba5c9;
  box-shadow: 0 0 32px 8px rgba(12, 168, 221, .04);
}

.home-input::-ms-input-placeholder {
  color: rgba(126, 137, 148, 0);
}

.home-input::placeholder {
  color: rgba(126, 137, 148, 0);
}

.home-header__lucky-link {
  align-items: center;
  padding: 4px 14px;
  font-size: 13px;
  font-weight: 400;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.home-header__lucky-link img {
  height: 20px;
  margin-right: 8px;
}

.home-header__lucky-link:hover {
  color: #0995c6;
}

.home-header__lucky-link.extra-button_lucky {
  color: #17754b;
  background-color: rgba(57, 179, 124, .07);
  border: 1px solid rgba(57, 179, 124, 0);
  border-radius: 50rem;
  padding: 8px 18px;
}

.home-header__lucky-link.extra-button_lucky:hover {
  background-color: rgba(255, 255, 255, .09);
  border-color: #39b37c;
}

.home-search__input-wrap {
  flex: 1;
  position: relative;
}

.home-search-area {
  width: 100%;
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.home-logo {
  position: relative;
}

.home-swiper-body {
  width: 100%;
  position: relative;
}

.home-header__desktop-nav {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.home-content__wrapper {
  padding-top: 20vh;
  padding-bottom: 48px;
}

.home-header__wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 24px 28px;
  display: flex;
}

.home-artist {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  max-width: 16vw;
}

.home-artist-name {
  margin-bottom: 2px;
}

.home-artist__link {
  width: 100%;
  cursor: pointer;
  position: relative;
  border: 1px solid rgba(9, 149, 198, 0);
  border-radius: 27%;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
}

.home-artist__link:hover  {
  border-color: #0995c6;
}

.home-artist__link:hover img {
  transform: scale(96%);
}

.home-artist__link img {
  width: 100%;
  cursor: pointer;
  display: block;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  border-radius: 27%;
}

.home-swiper-footer {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12px;
  display: flex;
}

.home-header__main-btn {
  box-shadow: none;
  background-color: #eceff3;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 500;
  display: flex;
}

.home-header-link {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
  transition: all .25s;
  position: relative;
}

.home-header-link:hover {
  color: #0a9dcf;
}

.home-header__menu-btn {
  justify-content: center;
  align-items: center;
  margin-right: -10px;
  padding: 10px;
  display: none;
  background-color: transparent;
}

.home-swiper-header {
  text-align: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}

.home-subheading {
  margin-top: 6px;
}

.home-artist__details {
  width: 100%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 10px;
  display: flex;
}

.home-sub-group {
  margin-top: 10vh;
}

.home-sub-group.flow_group {
  margin-top: 4vh;
}

.home-search {
  margin-bottom: 0;
}

.home-area {
  width: 100%;
  max-width: 1290px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.swiper {
  position: relative;
}

.home-inner {
  padding-left: 28px;
  padding-right: 28px;
  position: relative;
}

.home-search-wrap {
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  position: relative;
}

.home-header__nav {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20px;
  display: flex;
}

.home-logo img {
  width: 100px;
}

.swiper-slide {
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
}

.home__title-group {
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.home-swiper-btn {
  width: 42px;
  height: 36px;
  cursor: pointer;
  background-color: #f9fafb;
  border: 1px solid #dadfe7;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-swiper-btn img {
  width: 40%;
}

.home-search__submit-btn {
  height: 56px;
  box-shadow: none;
  background-color: #0fafe6;
  color: white !important;
  border-radius: 0 12px 12px 0;
  justify-content: center;
  align-items: center;
  padding-left: 26px;
  padding-right: 26px;
  display: flex;
}

.home-header__nav-group {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.home-swiper__heading {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
}

.swiper-wrapper {
  display: flex;
}

.home-heading {
  font-size: 44px;
  font-weight: 300;
  line-height: 54px;
}

@media screen and (max-width: 991px) {
  .home-artist {
    max-width: unset;
  }
  .home-header__lucky-link.extra-button_lucky {
    display: none;
  }

  .home-content__wrapper {
    padding-top: 16vh;
  }
}

@media screen and (max-width: 767px) {
  .home-header__desktop-nav {
    display: none;
  }

  .home-header__menu-btn {
    display: flex;
  }
}

@media screen and (max-width: 479px) {
  .home-input {
    border-radius: 12px 0 0 12px;
  }

  .home-header__lucky-link {
    flex: none;
  }

  .home-content__wrapper {
    padding-top: 14vh;
  }

  .home-header__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .home-swiper-header {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: center;
    margin-bottom: 24px;
  }

  .home-subheading {
    max-width: 280px;
  }

  .home-sub-group.flow_group {
    margin-top: 2vh;
  }

  .home-heading__mobile-hide {
    display: none;
  }

  .home-inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .home-inner.home-inner_mobile {
    padding-left: 12px;
    padding-right: 12px;
  }

  .home-search__submit-btn {
    padding-left: 14px;
    padding-right: 14px;
  }

  .home-heading {
    font-size: 8vw;
    line-height: 10vw;
  }
}

.home-artist-name {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

.home-swiper-btn {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home-header-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.5px;
  width: 0%;
  transition: all 200ms ease;
  background-color: #0a9dcf;
}

.home-header-link:hover::after {
  width: 100%;
}

/* Typing container */
.pseudo-type {
  align-items: center;
  padding-left: 52px;
  transition: all .2s cubic-bezier(.39, .575, .565, 1);
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  pointer-events: none;
}

.pseudo-type p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
  color: #7e8994;
}

.pseudo-type p span.pseudo-type__text {
  font-weight: 500;
  color: #0095c6;
}

.pseudo-type p span.pseudo-type__cursor {
  display: inline-block;
  background-color: #b1bbc5;
  margin-left: 0.1rem;
  width: 1.5px;
  animation: blink 1s infinite;
}

.pseudo-type p span.pseudo-type__cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: #b1bbc5;
  }

  49% {
    background-color: #b1bbc5;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }

  100% {
    background-color: #b1bbc5;
  }
}

@font-face {
  font-family: 'Poppins';
  src: url('..//fonts/Poppins/Poppins-Light.WOFF') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('..//fonts/Poppins/Poppins-Regular.WOFF') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('..//fonts/Poppins/Poppins-Medium.WOFF') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('..//fonts/Poppins/Poppins-SemiBold.WOFF') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('..//fonts/Poppins/Poppins-Bold.WOFF') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}