body {
  color: #171c29;
  /* background-color: #f5f6f8; */
  font-family: Poppins, sans-serif !important;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 260px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.album-item__name {
  font-weight: 500;
}

.album-item__name,
.album-item__info-title,
.album-item__info-subtitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.album-item__cover-pic {
  width: 100%;
  display: block;
  transition: all 200ms ease;
}

.album-item__info-title {
  color: rgba(23, 28, 41, .6);
  font-size: 11px;
  line-height: 16px;
}

.album-item__subtitle-row {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.album-item__date {
  color: rgba(23, 28, 41, .5);
  flex: none;
  margin-left: 12px;
  font-size: 12px;
}

.album-item__info-cell {
  border: 1px solid #e9edf1;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 6px;
  display: flex;
}

.album-item__play-btn {
  cursor: pointer;
  position: relative;
}

.album-item__play-btn>img {
  width: 100%;
}

.album-item__play-btn.is-disactive {
  opacity: .3;
  filter: grayscale();
  pointer-events: none;
}

.album-item {
  position: relative;
}

.album-item__info {
  padding-top: 12px;
  padding-left: 0;
  padding-right: 0;
}

.album-item__details {
  position: relative;
}

.album-item__cover {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* .album-item__cover:hover .album-item__cover-pic {
  transform: scale(1.05);
} */

.album-item__title-row {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.album-item__info-subtitle {
  font-size: 12px;
  font-weight: 500;
}

.album-item__info-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 6px;
  display: grid;
}

.album-item__info-grid>* {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

.album-item__controls {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 16px;
  display: grid;
}

.album-item__subtitle-row > span {
  color: #171c29;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 600;
}

.album-item__container {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0);
  border: 1px #e9edf1;
  position: relative;
}

.artist-page__albums-grid {
  grid-column-gap: 16px;
  grid-row-gap: 38px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-bottom: 68px;
  display: grid;
  position: relative;
}

@media screen and (min-width: 1440px) {
  .artist-page__albums-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .artist-page__albums-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 991px) {
  .artist-page__albums-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 479px) {
  .album-item__name {
    font-size: 13px;
  }

  .album-item__date {
    margin-left: 0;
    font-size: 11px;
  }

  .album-item__play-btn.is-disactive {
    display: none;
  }

  .album-item__info {
    padding-top: 8px;
  }

  .album-item__title-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .album-item__info-grid {
    display: none;
  }

  .album-item__controls {
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
  }

  .artist-page__albums-grid {
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}