.pts-holder {
  position: fixed;
  left: 20px;
  bottom: 18px;
  z-index: 101;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 16px;
  padding-left: 3px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-style: solid;
  border-width: 1px;
  border-color: #f7960a;
  border-radius: 50rem;
  background-color: #fff4df;
  background-image: linear-gradient(205deg, #fff9ed, #ffebc6);
  box-shadow: 0 18px 28px 0 rgba(255, 172, 97, 0.21);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-size: 13px;
}

.pts-holder__lottie-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 56px;
  height: 60px;
  margin-right: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pts-holder__fire-lottie {
  width: 100%;
  -webkit-transition: all 150ms cubic-bezier(.39, .575, .565, 1);
  transition: all 150ms cubic-bezier(.39, .575, .565, 1);
  width: 42px;
  height: 42px;
}

.pts-holder__blast-lottie {
  position: absolute;
  width: 144px;
  height: 144px;
}

.pts-holder__pts-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 0px;
}

.pts-ersy {
  background-image: linear-gradient(42deg, #ee3001, #f7a80f);
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  color: #fb8f1c;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  white-space: nowrap;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pts-val {
  margin-right: 6px;
}

@media screen and (max-width: 991px) {
  .pts-holder {
    padding-right: 10px;
  }
}