.add-modal {
  display: none;
  position: fixed;
  font-family: 'Poppins', sans-serif;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 999;
  padding-right: 44px;
  padding-left: 44px;
  z-index: 9999;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.add-modal__container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  overflow: auto;
  width: 100%;
  max-height: 80vh;
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 8px solid #dee1e7;
  border-radius: 8px;
  background-color: #fff;
  background-image: url('./img/add-modal-bg.svg');
  background-position: 50% -186px;
  background-size: 540px;
  background-repeat: no-repeat;
  box-shadow: 0 8px 12px 0 rgba(23, 28, 41, 0.1);
  opacity: 0;
  -webkit-transform: translate(-50%, -47%);
  -ms-transform: translate(-50%, -47%);
  transform: translate(-50%, -47%);
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
}

.add-modal__container.is-visible {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.add-modal__row-delete {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 12px;
  padding-left: 12px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  color: rgba(23, 28, 41, 0.38);
  cursor: pointer;
  background-color: transparent;
}

.add-modal__row-delete:hover {
  color: #e41030;
}

.add-modal__close-btn {
  position: absolute;
  left: auto;
  top: 10px;
  right: 10px;
  bottom: auto;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 36px;
  height: 36px;
  padding: 9px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  cursor: pointer;
}

.add-modal__close-btn:hover {
  background-color: #fff;
  color: #171c29;
}

.add-modal form input {
  height: 46px;
  padding: 8px 12px;
  margin-bottom: 0px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: #dadde4;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-size: 13px;
}

.add-modal form input:hover {
  border-color: #0995c6;
}

.add-modal form input:focus {
  border-color: #7dbed4;
  background-color: #fff;
  box-shadow: 0 0 0 5px rgba(9, 149, 198, 0.1);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.add-modal form input::-webkit-input-placeholder {
  color: #94979e;
}

.add-modal form input:-ms-input-placeholder {
  color: #94979e;
}

.add-modal form input::-ms-input-placeholder {
  color: #94979e;
}

.add-modal form input::placeholder {
  color: #94979e;
}

.add-modal form label {
  width: 100%;
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 500;
  text-align: left;
}

.add-modal form label span {
  color: rgba(23, 28, 41, 0.44);
  font-size: 12px;
}

.add-modal__form-col {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

#setListSecond {
  display: none;
}

#setListColumns {
  margin-top: 12px;
}

.add-modal__controls {
  padding: 8px 50px 50px;
  border-top: 0px solid #e8eaee;
}

.add-modal__subtitle {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-size: 13px;
}

.add-modal__form-wrap {
  margin-bottom: 0px;
}

.add-modal__set-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  padding: 18px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50rem;
  background-color: #fff;
  box-shadow: 0 14px 36px 0 rgba(53, 69, 111, 0.12);
  color: #171c29;
}

.add-modal__form-row {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#addSetEntry {
  display: none;
}

.add-modal__forms {
  position: relative;
}

.add-modal__heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-transform: capitalize;
}

.add-modal__controls-grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.add-modal__col-btn {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 50rem;
  background-color: #fff;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  color: #171c29;
  font-size: 13px;
  text-align: center;
}

.add-modal__col-btn:hover {
  font-weight: 600;
}

.add-modal__submit svg {
  display: none;
  width: 13px;
  height: 13px;
  margin-left: 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.add-modal__submit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 13px 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: 1px solid #0fa5da;
  border-radius: 50rem;
  background-color: #0fa5da;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}

.add-modal__submit:hover {
  border-color: #0fa5da;
  background-color: #0fa5da;
  color: #fff;
}

.add-modal__submit.add-modal__submit_sub {
  margin-top: 8px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  border-color: rgba(9, 149, 198, 0);
  background-color: #fff;
  color: rgba(23, 28, 41, 0.48);
  font-weight: 400;
}

.add-modal__submit.add-modal__submit_sub:hover {
  background-color: #f3f5f8;
  color: #171c29;
}

.add-modal__main {
  padding: 24px 50px 2px;
}

.add-modal__backdrop {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  background-color: rgba(23, 28, 41, 0.6);
  opacity: 0;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
}

.add-modal__backdrop.is-visible {
  opacity: 1;
}

.add-modal__header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 50px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.add-modal__columns-wrap {
  position: relative;
}

@media screen and (max-width: 479px) {
  .add-modal__container {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    max-height: none;
    border-top-style: none;
    border-radius: 0px;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .add-modal__container.is-visible {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .add-modal form input:focus {
    box-shadow: 0 0 0 5px rgba(9, 149, 198, 0.1);
  }

  .add-modal__controls {
    padding-right: 20px;
    padding-left: 20px;
  }

  .add-modal {
    padding-right: 20px;
    padding-left: 20px;
  }

  .add-modal__main {
    padding-right: 20px;
    padding-left: 20px;
  }

  .add-modal__header {
    z-index: 4;
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* Gallery modal */
.gallery-modal {
  z-index: 1001;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gallery-modal__container {
  width: 100%;
  height: 70vh;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.gallery-modal__backdrop {
  background-color: #f8f9fa;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gallery-modal__pag-btn {
  width: 48px;
  height: 48px;
  cursor: pointer;
  background-color: #e9ecf0;
  border: 1px solid #e9ecf0;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  margin-right: 6px;
  transition: all .15s cubic-bezier(.39, .575, .565, 1);
  display: flex;
}

.gallery-modal__pag-btn:hover {
  background-color: rgba(233, 236, 240, 0);
  border-color: #d1d6dd;
}

.gallery-modal__pag-btn:active {
  transform: scale(.92);
}

.gallery-modal__close-btn {
  z-index: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
  background-color: transparent;
}

.gallery-modal__description > span {
  padding-left: 6px;
  padding-right: 6px;
  display: inline-block;
}

.gallery-modal__wrapper {
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.gallery-modal__description {
  margin-bottom: 0;
  font-weight: 500;
}

.gallery-modal__external-link {
  color: rgba(255, 255, 255, .8);
  cursor: pointer;
  background-color: rgba(23, 28, 41, .2);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 2px 6px;
  font-size: 11px;
  font-weight: 500;
  transition: all .2s;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
}

.gallery-modal__external-link:hover {
  color: #fff;
  background-color: #0ca8dd;
}

.gallery-modal__container picture {
  max-height: 70vh;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
  position: relative;
}

.gallery-modal__controls {
  z-index: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  bottom: 20px;
}

.gallery-modal picture img {
  width: 100%;
  max-height: 70vh;
  display: block;
}

.gallery-modal__pic-overlay {
  min-height: 80px;
  color: #fff;
  background-image: linear-gradient(rgba(23, 28, 41, 0), rgba(23, 28, 41, .4));
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 12px;
  font-size: 12px;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (min-width: 1440px) {
  .gallery-modal__container {
    max-width: 1080px;
  }
}

@media screen and (min-width: 1920px) {
  .gallery-modal__container {
    max-width: 1420px;
  }
}

@media screen and (max-width: 991px) {
  .gallery-modal__container {
    max-width: none;
  }
}

@media screen and (max-width: 479px) {

  .gallery-modal__container picture,
  .gallery-modal picture img {
    max-height: 50vh;
  }
}