footer {
  font-family: 'Poppins', sans-serif;
}

.footer__sub-link-tag {
  display: flex !important;
  margin-left: 7px;
  padding: 2px 8px;
  border-radius: 50rem;
  background-color: #0ca4da;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__social-link {
  position: relative;
}

.footer__columns-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__list a {
  position: relative;
  display: flex !important;
  margin-bottom: 6px;
  padding-bottom: 4px;
  font-size: 13px;
  color: #171c29 !important;
}

.footer__list a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #18b5ec;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
}
.footer__list a:hover::after {
  width: 100%;
}

.footer__bottom-content {
  font-size: 13px;
}

.footer__sub-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  transition: all 200ms cubic-bezier(.39, .575, .565, 1);
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.footer__sub-link:hover {
  color: #0995c6;
}

.footer__bottom-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__contact-link {
  font-size: 12px;
  font-style: italic;
  text-decoration: underline;
}

.footer__column {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 58px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.footer__social-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.footer {
  position: relative;
  background-color: #fff;
}

.footer-quote {
  max-width: 280px;
  margin-top: 12px;
  line-height: 22px;
  font-style: italic;
}

.footer__column h3,h4,h5 {
  margin-top: 0px;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.footer__spot-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px !important;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  list-style-type: none;
}

.footer__logo-link img {
  width: 120px;
}

.footer__social-link-img {
  width: 32px;
}

.footer__wrap {
  padding-top: 72px;
  padding-bottom: 58px;
}

.footer__bottom {
  margin-top: 48px;
  padding-top: 48px;
  border-top: 1px solid #dae0e6;
}

@media screen and (max-width: 991px) {
  .footer__column {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer__column {
    margin-right: 36px;
    margin-left: 0px;
  }

  .footer__spot-wrap {
    margin-bottom: 46px;
  }

  .footer__main {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .footer__columns-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__bottom-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer__column {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 32px;
  }

  .footer__social-grid {
    margin-top: 16px;
  }

  .footer__bottom {
    margin-top: 24px;
  }
}